/*CSS-element styling*/
/*Use color to emphazied*/
div + p ,h4{ 
    color:red;
    font-weight: 900;
}

/*Class styling*/
.code{
    margin-top: 5px;
    font-weight:900;
    font-style: italic;
    background-color: whitesmoke;
    color:blue;
}

